ACTION=="change", SUBSYSTEM=="power_supply", ATTR{status}=="Discharging", RUN+="/usr/bin/systemctl start battery.target"

ACTION=="change", SUBSYSTEM=="power_supply", ATTR{capacity}!="Discharging", RUN+="/usr/bin/systemctl start ac.target"
